# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/

# Editors
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so

# Packaging
build/
dist/
*.egg-info/

# Data
data/tmp/
data/models/

# OS
.DS_Store
Thumbs.db

